P1/nbproject/private/
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear


# Lucene index files
*.fdt
*.fdx 
*.fnm
*.frq
*.nrm
*.prx
*.tii
segments.gen
segments_2
